CSFramework3.WebServiceReference/Service References/WCF_SalesModuleService/SalesModuleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SC_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SC_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SC_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SO_ApprovalBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flagApp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SO_ApprovalBusinessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SO_CheckNoExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SO_CheckNoExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SO_CheckNoExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SO_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SO_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SO_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SO_GetBusinessByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SO_GetBusinessByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SO_GetBusinessByKeyResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SO_GetReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="DocNoFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocNoTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SO_GetReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SO_GetReportDataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SO_GetSummaryByParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="DocNoFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocNoTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docDateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="docDateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SO_GetSummaryByParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SO_GetSummaryByParamResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SO_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="saveData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SO_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SO_UpdateResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>