CSFramework3.WebServiceReference/Service References/WCF_AccountModuleService/AccountModuleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="AccountModuleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IAccountModuleService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="14400000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2345/WCF_Server/AccountModuleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2345/WCF_Server/AccountModuleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountModuleService_AR_ApprovalBusiness_InputMessage">
    <wsdl:part name="parameters" element="tns:AR_ApprovalBusiness" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AR_ApprovalBusiness_OutputMessage">
    <wsdl:part name="parameters" element="tns:AR_ApprovalBusinessResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AR_CheckNoExists_InputMessage">
    <wsdl:part name="parameters" element="tns:AR_CheckNoExists" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AR_CheckNoExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:AR_CheckNoExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AR_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:AR_Delete" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AR_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:AR_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AR_GetBusinessByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:AR_GetBusinessByKey" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AR_GetBusinessByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:AR_GetBusinessByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AR_GetSummaryByParam_InputMessage">
    <wsdl:part name="parameters" element="tns:AR_GetSummaryByParam" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AR_GetSummaryByParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:AR_GetSummaryByParamResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AR_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:AR_Update" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AR_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:AR_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AR_GetReportData_Checklist_InputMessage">
    <wsdl:part name="parameters" element="tns:AR_GetReportData_Checklist" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AR_GetReportData_Checklist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AR_GetReportData_ChecklistResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AR_GetReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:AR_GetReportData" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AR_GetReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AR_GetReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AP_ApprovalBusiness_InputMessage">
    <wsdl:part name="parameters" element="tns:AP_ApprovalBusiness" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AP_ApprovalBusiness_OutputMessage">
    <wsdl:part name="parameters" element="tns:AP_ApprovalBusinessResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AP_CheckNoExists_InputMessage">
    <wsdl:part name="parameters" element="tns:AP_CheckNoExists" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AP_CheckNoExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:AP_CheckNoExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AP_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:AP_Delete" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AP_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:AP_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AP_GetBusinessByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:AP_GetBusinessByKey" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AP_GetBusinessByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:AP_GetBusinessByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AP_GetSummaryByParam_InputMessage">
    <wsdl:part name="parameters" element="tns:AP_GetSummaryByParam" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AP_GetSummaryByParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:AP_GetSummaryByParamResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AP_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:AP_Update" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AP_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:AP_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AP_GetReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:AP_GetReportData" />
  </wsdl:message>
  <wsdl:message name="IAccountModuleService_AP_GetReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AP_GetReportDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountModuleService">
    <wsdl:operation name="AR_ApprovalBusiness">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountModuleService/AR_ApprovalBusiness" message="tns:IAccountModuleService_AR_ApprovalBusiness_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountModuleService/AR_ApprovalBusinessResponse" message="tns:IAccountModuleService_AR_ApprovalBusiness_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AR_CheckNoExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountModuleService/AR_CheckNoExists" message="tns:IAccountModuleService_AR_CheckNoExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountModuleService/AR_CheckNoExistsResponse" message="tns:IAccountModuleService_AR_CheckNoExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AR_Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountModuleService/AR_Delete" message="tns:IAccountModuleService_AR_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountModuleService/AR_DeleteResponse" message="tns:IAccountModuleService_AR_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AR_GetBusinessByKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountModuleService/AR_GetBusinessByKey" message="tns:IAccountModuleService_AR_GetBusinessByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountModuleService/AR_GetBusinessByKeyResponse" message="tns:IAccountModuleService_AR_GetBusinessByKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AR_GetSummaryByParam">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountModuleService/AR_GetSummaryByParam" message="tns:IAccountModuleService_AR_GetSummaryByParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountModuleService/AR_GetSummaryByParamResponse" message="tns:IAccountModuleService_AR_GetSummaryByParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AR_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountModuleService/AR_Update" message="tns:IAccountModuleService_AR_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountModuleService/AR_UpdateResponse" message="tns:IAccountModuleService_AR_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AR_GetReportData_Checklist">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountModuleService/AR_GetReportData_Checklist" message="tns:IAccountModuleService_AR_GetReportData_Checklist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountModuleService/AR_GetReportData_ChecklistResponse" message="tns:IAccountModuleService_AR_GetReportData_Checklist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AR_GetReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountModuleService/AR_GetReportData" message="tns:IAccountModuleService_AR_GetReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountModuleService/AR_GetReportDataResponse" message="tns:IAccountModuleService_AR_GetReportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AP_ApprovalBusiness">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountModuleService/AP_ApprovalBusiness" message="tns:IAccountModuleService_AP_ApprovalBusiness_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountModuleService/AP_ApprovalBusinessResponse" message="tns:IAccountModuleService_AP_ApprovalBusiness_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AP_CheckNoExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountModuleService/AP_CheckNoExists" message="tns:IAccountModuleService_AP_CheckNoExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountModuleService/AP_CheckNoExistsResponse" message="tns:IAccountModuleService_AP_CheckNoExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AP_Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountModuleService/AP_Delete" message="tns:IAccountModuleService_AP_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountModuleService/AP_DeleteResponse" message="tns:IAccountModuleService_AP_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AP_GetBusinessByKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountModuleService/AP_GetBusinessByKey" message="tns:IAccountModuleService_AP_GetBusinessByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountModuleService/AP_GetBusinessByKeyResponse" message="tns:IAccountModuleService_AP_GetBusinessByKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AP_GetSummaryByParam">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountModuleService/AP_GetSummaryByParam" message="tns:IAccountModuleService_AP_GetSummaryByParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountModuleService/AP_GetSummaryByParamResponse" message="tns:IAccountModuleService_AP_GetSummaryByParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AP_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountModuleService/AP_Update" message="tns:IAccountModuleService_AP_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountModuleService/AP_UpdateResponse" message="tns:IAccountModuleService_AP_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AP_GetReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountModuleService/AP_GetReportData" message="tns:IAccountModuleService_AP_GetReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountModuleService/AP_GetReportDataResponse" message="tns:IAccountModuleService_AP_GetReportData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IAccountModuleService" type="tns:IAccountModuleService">
    <wsp:PolicyReference URI="#WSHttpBinding_IAccountModuleService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AR_ApprovalBusiness">
      <soap12:operation soapAction="http://tempuri.org/IAccountModuleService/AR_ApprovalBusiness" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AR_CheckNoExists">
      <soap12:operation soapAction="http://tempuri.org/IAccountModuleService/AR_CheckNoExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AR_Delete">
      <soap12:operation soapAction="http://tempuri.org/IAccountModuleService/AR_Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AR_GetBusinessByKey">
      <soap12:operation soapAction="http://tempuri.org/IAccountModuleService/AR_GetBusinessByKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AR_GetSummaryByParam">
      <soap12:operation soapAction="http://tempuri.org/IAccountModuleService/AR_GetSummaryByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AR_Update">
      <soap12:operation soapAction="http://tempuri.org/IAccountModuleService/AR_Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AR_GetReportData_Checklist">
      <soap12:operation soapAction="http://tempuri.org/IAccountModuleService/AR_GetReportData_Checklist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AR_GetReportData">
      <soap12:operation soapAction="http://tempuri.org/IAccountModuleService/AR_GetReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AP_ApprovalBusiness">
      <soap12:operation soapAction="http://tempuri.org/IAccountModuleService/AP_ApprovalBusiness" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AP_CheckNoExists">
      <soap12:operation soapAction="http://tempuri.org/IAccountModuleService/AP_CheckNoExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AP_Delete">
      <soap12:operation soapAction="http://tempuri.org/IAccountModuleService/AP_Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AP_GetBusinessByKey">
      <soap12:operation soapAction="http://tempuri.org/IAccountModuleService/AP_GetBusinessByKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AP_GetSummaryByParam">
      <soap12:operation soapAction="http://tempuri.org/IAccountModuleService/AP_GetSummaryByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AP_Update">
      <soap12:operation soapAction="http://tempuri.org/IAccountModuleService/AP_Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AP_GetReportData">
      <soap12:operation soapAction="http://tempuri.org/IAccountModuleService/AP_GetReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountModuleService">
    <wsdl:port name="WSHttpBinding_IAccountModuleService" binding="tns:WSHttpBinding_IAccountModuleService">
      <soap12:address location="http://localhost:2345/WCF_Server/AccountModuleService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:2345/WCF_Server/AccountModuleService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>