CSFramework3.WebServiceReference/Service References/WCF_AccountModuleService/AccountModuleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AR_ApprovalBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flagApp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_ApprovalBusinessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_CheckNoExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_CheckNoExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AR_CheckNoExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AR_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_GetBusinessByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_GetBusinessByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AR_GetBusinessByKeyResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_GetSummaryByParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="DocNoFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocNoTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docDateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="docDateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_GetSummaryByParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AR_GetSummaryByParamResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="saveData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AR_UpdateResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_GetReportData_Checklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="DocNoFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocNoTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_GetReportData_ChecklistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AR_GetReportData_ChecklistResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_GetReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="DocNoFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocNoTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AR_GetReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AR_GetReportDataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_ApprovalBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flagApp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_ApprovalBusinessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_CheckNoExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_CheckNoExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_CheckNoExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_GetBusinessByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_GetBusinessByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_GetBusinessByKeyResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_GetSummaryByParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="DocNoFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocNoTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docDateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="docDateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_GetSummaryByParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_GetSummaryByParamResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="saveData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_UpdateResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_GetReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="DocNoFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocNoTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AP_GetReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AP_GetReportDataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>