CSFramework3.WebServiceReference/Service References/WCF_DataDictService/DataDictService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddCommonType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="code" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommonTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCommonTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckNoExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ORM_TypeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckNoExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckNoExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ORM_TypeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCommonType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCommonTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCommonTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadDicts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadDictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadDictsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FuzzySearchCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="customerFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerAttribute" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FuzzySearchCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FuzzySearchCustomerResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FuzzySearchCustomerByContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FuzzySearchCustomerByContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FuzzySearchCustomerByContentResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FuzzySearchCustomerByAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="attributeCodes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FuzzySearchCustomerByAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FuzzySearchCustomerByAttributesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FuzzySearchProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FuzzySearchProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FuzzySearchProductResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByAttributeCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="attributeCodes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nameWithCode" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByAttributeCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerByAttributeCodesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="ORM_TypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataByKeyResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataDictByTableName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataDictByTableNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataDictByTableNameResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="ORM_TypeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSummaryDataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistsCommonType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistsCommonTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistsCommonTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCommonType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="dataType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCommonTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchCommonTypeResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="bs" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="ORM_TypeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginTicket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="bs" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="ORM_TypeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateExResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>