CSFramework3.WebServiceReference/Service References/WCF_PurchaseModuleService/PurchaseModuleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="PurchaseModuleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPurchaseModuleService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="14400000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2345/WCF_Server/PurchaseModuleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2345/WCF_Server/PurchaseModuleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPurchaseModuleService_PO_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:PO_Delete" />
  </wsdl:message>
  <wsdl:message name="IPurchaseModuleService_PO_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:PO_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseModuleService_PO_GetBusinessByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:PO_GetBusinessByKey" />
  </wsdl:message>
  <wsdl:message name="IPurchaseModuleService_PO_GetBusinessByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:PO_GetBusinessByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseModuleService_PO_GetReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:PO_GetReportData" />
  </wsdl:message>
  <wsdl:message name="IPurchaseModuleService_PO_GetReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PO_GetReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseModuleService_PO_GetSummaryByParam_InputMessage">
    <wsdl:part name="parameters" element="tns:PO_GetSummaryByParam" />
  </wsdl:message>
  <wsdl:message name="IPurchaseModuleService_PO_GetSummaryByParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:PO_GetSummaryByParamResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseModuleService_PO_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:PO_Update" />
  </wsdl:message>
  <wsdl:message name="IPurchaseModuleService_PO_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:PO_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseModuleService_PO_CheckNoExists_InputMessage">
    <wsdl:part name="parameters" element="tns:PO_CheckNoExists" />
  </wsdl:message>
  <wsdl:message name="IPurchaseModuleService_PO_CheckNoExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:PO_CheckNoExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseModuleService_PO_ApprovalBusiness_InputMessage">
    <wsdl:part name="parameters" element="tns:PO_ApprovalBusiness" />
  </wsdl:message>
  <wsdl:message name="IPurchaseModuleService_PO_ApprovalBusiness_OutputMessage">
    <wsdl:part name="parameters" element="tns:PO_ApprovalBusinessResponse" />
  </wsdl:message>
  <wsdl:portType name="IPurchaseModuleService">
    <wsdl:operation name="PO_Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseModuleService/PO_Delete" message="tns:IPurchaseModuleService_PO_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseModuleService/PO_DeleteResponse" message="tns:IPurchaseModuleService_PO_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PO_GetBusinessByKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseModuleService/PO_GetBusinessByKey" message="tns:IPurchaseModuleService_PO_GetBusinessByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseModuleService/PO_GetBusinessByKeyResponse" message="tns:IPurchaseModuleService_PO_GetBusinessByKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PO_GetReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseModuleService/PO_GetReportData" message="tns:IPurchaseModuleService_PO_GetReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseModuleService/PO_GetReportDataResponse" message="tns:IPurchaseModuleService_PO_GetReportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PO_GetSummaryByParam">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseModuleService/PO_GetSummaryByParam" message="tns:IPurchaseModuleService_PO_GetSummaryByParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseModuleService/PO_GetSummaryByParamResponse" message="tns:IPurchaseModuleService_PO_GetSummaryByParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PO_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseModuleService/PO_Update" message="tns:IPurchaseModuleService_PO_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseModuleService/PO_UpdateResponse" message="tns:IPurchaseModuleService_PO_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PO_CheckNoExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseModuleService/PO_CheckNoExists" message="tns:IPurchaseModuleService_PO_CheckNoExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseModuleService/PO_CheckNoExistsResponse" message="tns:IPurchaseModuleService_PO_CheckNoExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PO_ApprovalBusiness">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseModuleService/PO_ApprovalBusiness" message="tns:IPurchaseModuleService_PO_ApprovalBusiness_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseModuleService/PO_ApprovalBusinessResponse" message="tns:IPurchaseModuleService_PO_ApprovalBusiness_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IPurchaseModuleService" type="tns:IPurchaseModuleService">
    <wsp:PolicyReference URI="#WSHttpBinding_IPurchaseModuleService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PO_Delete">
      <soap12:operation soapAction="http://tempuri.org/IPurchaseModuleService/PO_Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PO_GetBusinessByKey">
      <soap12:operation soapAction="http://tempuri.org/IPurchaseModuleService/PO_GetBusinessByKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PO_GetReportData">
      <soap12:operation soapAction="http://tempuri.org/IPurchaseModuleService/PO_GetReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PO_GetSummaryByParam">
      <soap12:operation soapAction="http://tempuri.org/IPurchaseModuleService/PO_GetSummaryByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PO_Update">
      <soap12:operation soapAction="http://tempuri.org/IPurchaseModuleService/PO_Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PO_CheckNoExists">
      <soap12:operation soapAction="http://tempuri.org/IPurchaseModuleService/PO_CheckNoExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PO_ApprovalBusiness">
      <soap12:operation soapAction="http://tempuri.org/IPurchaseModuleService/PO_ApprovalBusiness" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PurchaseModuleService">
    <wsdl:port name="WSHttpBinding_IPurchaseModuleService" binding="tns:WSHttpBinding_IPurchaseModuleService">
      <soap12:address location="http://localhost:2345/WCF_Server/PurchaseModuleService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:2345/WCF_Server/PurchaseModuleService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>